.container{
    width: 1000px;
    margin: 0 auto;
}
.title{
    
    margin: 40px 250px 0px 250px;
    padding-left: 23px;
    padding-bottom: 23px;
    padding-top: 22px;
    border: 4px  #83080f;
    background-color: #ffe4e1;
    border-style: double none;
    color: #800000;
    font-weight: 1000000;
    font-size: 26px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.week1{
    width: 330px;
    height: 120px;
    font-style: oblique;
    border: 2px solid #0000ff;
    margin: 25px 350px 0px 270px ;
    padding-left: 25px;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #e6e6fa;
    padding-right: 50px;
}
